@import url("https://fonts.googleapis.com/css?family=Raleway:800&display=swap");

body {
  text-align: center;
  background: #f0d0f0;
  font-weight: 100;
  font-size: x-large;
}

.main-container {
  display: flex;
}

.cardActionsAreaButtons {
  display: flex;
  justify-content: space-around;
}

#github-icon {
  color: pink;
}

.hero {
  padding-top: 10vh;
  background-color: ivory;
  height: 25vh;
}

.compareContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.navItems {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.infoBox {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  background: rgb(255, 255, 255);
  max-width: 40%;
  min-width: 400px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 0 10px rgb(236, 236, 236), inset 0 0 0 15px rgb(241, 173, 243);
  border-radius: 5px;
  text-align: left;
  // font-family: monospace;
  font-size: 1em;
  padding: 5% 5%;
  margin: 2% 2%;
}

//Compare container - CacheQL and NoCacheQl boxes

.miliseconds {
  color: F33287;
}

.resultMessage {
  color: darkcyan;
}

.query-container {
  display: inline-block;
  /* border-style: solid; */
  // height: 20%;
  width: 80%;
  padding: 3% 3%;
  margin: 30px auto;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 0 10px rgb(245, 245, 245), inset 0 0 0 15px rgb(241, 173, 243);
  border-radius: 10px;
  text-align: left;
  // font-family: monospace;
  font-size: 1em;
}

.query-container textarea {
  height: 5vh;
  width: 80%;
}

.inputBox {
  width: 35vw;
  height: 5vh;
  margin-bottom: 5px;
}

/* .get-message-button{
  padding-bottom: 30px;
} */

.bg-light {
  background-color: white !important;
}

.oowwee {
  /* position: fixed; */
  z-index: 2147483638;
}

//BAR SECTION

.bar-container {
  margin-top: 20px;
  display: inline-block;
  width: 91%;
  /* box-shadow: 10px 15px 39px rgba(0, 0, 0, 0.2); */
}

//TEAM SECTION
#TeamBox {
  background-color: #f0d0f0;
  margin-bottom: 1em;
  padding: 2em;
}

.MuiCardActions-root {
  background-color: #fae8e0;
}

.MuiButton-label {
  color: gray;
}

.MuiButton-label:hover {
  color: #f33287;
}

.query-container-title {
  font-size: 16;
}

//HOW TO USE COMPONENT

#howToUseBox {
  background-color: white;
  border: 1px solid rgb(241, 173, 243);
  color: rgb(49, 49, 49);
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero-content {
  padding-top: 100px;
}

.hero-title {
  color: rgb(49, 49, 49);
  margin-top: 170px;
  font-size: 80px;
  z-index: 1000;
}

.hero-description {
  color: rgb(87, 87, 87);
  margin-top: 180px;
  // margin-bottom: 30px;
}

.github-buttons {
  margin-top: 40px;
  margin-bottom: 150px;
}

#download figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  color: rgb(87, 87, 87);
}

#download figcaption {
  padding: 40px;
}

#howToUseBox {
  padding-bottom: 40px;
  padding-top: 40px;
}

.Footer {
  padding: 1.5rem 1.5rem;
  background: rgb(47, 5, 22);
  color: white;
  font-size: 1.05em;
  overflow-x: hidden;
  text-align: center;
}

.twitter-follow-button {
  color: pink;
}

.twitter-follow-button:hover {
  color: white;
}

.query-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.query-inputs {
  width: 50%;
  // height: 100%;
}

.example-picture {
  width: auto;
  // padding-left: 10px;
}

.actual-example-picture {
  width: 100%;
  // height: 100%;
}

.fadeInLeft{
  padding-top: 20px;
}
