body {
  text-align: center;
  background: #f0d0f0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  //   Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
}

.cardActionsAreaButtons {
  display: flex;
  justify-content: space-around;
}

#github-icon{
  color: pink;
}

.hero {
  padding-top: 10vh;
  background-color: ivory;
  height: 40vh;
}

.compareContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  height: 35%;
}

.infoBox {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  background: rgb(255, 255, 255);
  max-width: 40%;
  margin: 0 auto;
  /* padding: 10px; */
  box-shadow: 10px 15px 39px rgba(0, 0, 0, 0.2),
  /* inset 0 0 0 4px #eee,
  inset 0 0 0 8px #ddd,
  inset 0 0 0 12px #ccc,
  inset 0 0 0 16px #bbb, */
  /* inset 0 0 0 20px #aaa, */
  inset 0 0 0 10px rgb(236, 236, 236),
  inset 0 0 0 15px rgb(241, 173, 243);
  border-radius: 5px;
  text-align: center;
  font-family: monospace;
  font-size: 1em;
  padding: 15px;
}

//Compare container - CacheQL and NoCacheQl boxes

.miliseconds{
  color: F33287
}

.resultMessage {
  color: darkcyan
}

.query-container {
  display: inline-block;
  /* border-style: solid; */
  // height: 20%;
  width: 80%;
  padding: 3% 3%;
  margin: 30px 30px;
  background: rgb(255, 255, 255);
  box-shadow: 10px 15px 39px rgba(0, 0, 0, 0.2),
    inset 0 0 0 10px rgb(245, 245, 245),
    inset 0 0 0 15px rgb(241, 173, 243);
  border-radius: 10px;
  text-align: center;
  font-family: monospace;
  font-size: 1em;
}

/* .get-message-button{
  padding-bottom: 30px;
} */

.bg-light {
  background-color: white !important
}

.oowwee{
  /* position: fixed; */
  z-index: 2147483638;

} 

//BAR SECTION

.bar-container {
  display: inline-block;
  width: 91%;
  /* box-shadow: 10px 15px 39px rgba(0, 0, 0, 0.2); */
}

//TEAM SECTION
#TeamBox {
  background-color: #f0d0f0;
  margin-bottom: 1em;
  padding: 2em;
}

.MuiCardActions-root{
  background-color:#FAE8E0;
}

.MuiButton-label {
  color: gray
}

.MuiButton-label:hover {
  color: #F33287
}

.query-container-title { 
  font-size: 16;
}

//HOW TO USE COMPONENT

#howToUseBox{
  background-color: white;
  border: 1px solid rgb(241, 173, 243);
  color: rgb(49, 49, 49);
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-content{
  padding-top: 100px;
}

.hero-title{
  color: rgb(49, 49, 49);
  margin-top: 170px;
  font-size: 80px;
  z-index: 1000;
}

.hero-description {
  color: rgb(87, 87, 87);
  margin-top: 180px;
  // margin-bottom: 30px;
}

.github-buttons{
  margin-top: 40px;
  margin-bottom: 150px;
}

#features figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  color: rgb(87, 87, 87);
}

#features figcaption {
  padding: 40px;
}

#howToUseBox {
  padding-bottom: 40px;
  padding-top: 40px;
}